<div align='center'>
    <h1>Voice Games</h1>
</div>


<table class="table" style="text-align:center">
    <tr>
        <td>
            <h2>{{sherlockDTO.saudacao}}</h2>
        </td>
    </tr>
</table>

<div style="text-align:center">
    <button (click)="pergunta()">Perguntar</button>
    <h2>{{sherlockDTO.perguntaDTO.pergunta}}</h2>
</div>

<div style="text-align:left">
    <h2>Resposta:</h2>
    <input
          type="text"
          class="form-control"
          id="resposta"
          [(ngModel)]="resposta"
          name="resposta"
          (input)="isRespostaPreenchida()"
        />
</div>
<div style="text-align:center">
    <button (click)="responda()" [disabled]='getRespostaPreenchida()'>Responder</button>
</div>
<div style="text-align:center">
    <h2>{{sherlockDTO.perguntaDTO.resposta.sentenca}}</h2>
</div>